<nav class="slidemenu">
  
      <!-- Item 1 -->
      <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" checked/>
      <label for="slide-item-1">
        <p class="icon">
          <img src="./img/galactic-republic-brands.svg" alt="">
        </p>
        <span>Home</span>
      </label>
      
      <!-- Item 2 -->
      <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle"/>
      <label for="slide-item-2">
        <p class="icon">
          <img src="./img/galactic-republic-brands.svg" alt="">
        </p>
        <span>About</span>
      </label>
      
      <!-- Item 3 -->
      <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
      <label for="slide-item-3">
        <p class="icon">
          <img src="./img/galactic-republic-brands.svg" alt="">
        </p>
        <span>Folio</span>
      </label>
      
      <!-- Item 4 -->
      <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle"/>
      <label for="slide-item-4">
        <p class="icon">
          <img src="./img/galactic-republic-brands.svg" alt="">
        </p>
        <span>Blog</span>
      </label>
      
      <div class="clear"></div>
      
      <!-- Bar -->
      <div class="slider">
        <div class="bar"></div>
      </div>
      
    </nav>