<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link defer rel="stylesheet" type="text/css" href="scss/style.scss">
    <!--<script type="text/javascript" src="script.js" ></script>--> 
</head>
<body>
  <header class="nav">
    
    {{>nav-main}}

  </header>
  <main>
    <p>Main</p>
  </main>
  <footer>
    <p>Footer</p>
  </footer>
 
</body>
</html>



 

  
    
  


  

  